#Play{
	left: 0vw;
}

#Settings{
	left: 33vw;
}

#HowToPlay{
	left: 66vw;
}

#centersection{
	position: fixed;
	margin: 0px;
	margin-top: -150px;
	margin-left: -150px;
	top: 50%;
	left: 50%;
	display: inline-block;
	width: 300px;
	padding: 0px;
}

#playbutton{
	margin: 0px;
	display: inline-block;
	background-color: #0D9629;
	height: 300px;
	width: 300px;
	border-radius: 150px;
	color: black;
	padding: 0px;
	border: none;
	cursor: pointer;
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
}

#playbutton:hover{
	background-color: #43C12A;
}

	
#arrow_right{
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 75px solid transparent;
	border-bottom: 75px solid transparent;
	border-left: 125px solid #080705;
	margin: 75px;
	margin-left: 105px;
	top: 0px;
	pointer-events: none;
}	

#nickname{
	margin-top: 15px;
	width: 500px;
	margin-left: -100px;
	padding: 10px;
	font-size: 30pt;
	border: 3px solid #443F35;

}

/*Stats*/
#mainleft{
	position: fixed;
	width: 300px;
	height: 129px;
	margin-top: -180px;
	top: 50vh;
	left: 20px;
}

#stats p{
	text-align: center;
	font-size: 20pt;
	height: 30px;
	margin: 0px;
	background-color: #443F35;
	color: #FFFFFF;
}

#statstable{
	width: 100%;
	border-collapse: collapse;
	height: 99px;
	border: 5px solid #443F35;
}

#statstable tr:nth-of-type(2n){
	background-color: #FFFFFF;
}

#statstable tr:nth-of-type(2n+1){
	background-color: #DDDDDD;
}

/*Leaderbord*/
#mainright{
	position: fixed;
	width: 300px;
	height: 360px;
	margin-top: -180px;
	top: 50vh;
	right: 20px;
}

#leaderbords{
	float: right;
	width: 100%;
}

#leaderbords p{
	text-align: center;
	font-size: 20pt;
	height: 30px;
	margin: 0px;
	background-color: #443F35;
	color: #FFFFFF;
}

#lbtable{
	width: 100%;
	border-collapse: collapse;
	height: 330px;
	border: 5px solid #443F35;
}

#lbtable tr:nth-of-type(2n){
	background-color: #FFFFFF;
}

#lbtable tr:nth-of-type(2n+1){
	background-color: #DDDDDD;
}

#lbtable tr:nth-of-type(1){
	font-weight: bold;
}
